// @use 'media' as *;

:root {
    --font-size: 24px;
    // @include bigscreen {
    //     --font-size: 28px;
    // }
    // @include laptop {
    //     --font-size: 20px;
    // }

    // @include mobile {
    //     --font-size: 16px;
    // }
}

//$font-family: "Lexend", sans-serif;
// $font-size: var(--font-size);
// $font-weight: 400;
// $line-height: 1.3333;


@font-face {
    font-display: swap;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lexend-v19-latin-regular.woff2') format('woff2');
    }

@font-face {
    font-display: swap; 
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/lexend-v19-latin-500.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/lexend-v19-latin-600.woff2') format('woff2'); 
}   

@font-face {
    font-display: swap; 
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/FuturaPT-Medium.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/FuturaPT-Medium.woff') format('woff'); 
}

